.posting{
  display: flex;
  flex-direction: column;
  padding: 2rem 1rem 1rem 1rem;
}
.connecteH3{
  margin: 0 0 1rem 0;
  font-family: "Robonto" sans-serif;
  font-size: 25px;
  color: rgb(21, 21, 100);
}
#user-name{
  font-size: 25px;
  color: #FDC93B;
}
.search{
  width: 100%;
}
.search #search-icon,
#search-bar, #sort-ads{
  padding: 10px;
}
h4{
  color: rgb(21, 21, 100);
}
#article_form,
#chercheur_form{
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  align-items: center;
  margin: 1rem auto;
}
#article_form input,
#chercheur_form input{
  padding: 10px;
  border: 1px solid rgb(21, 21, 100);
  margin: 10px;
  
}
#article_form textarea,
#chercheur_form textarea{
  width: 100%;
  height: 200px;
  margin: 10px;
  padding: 10px;
}
.normal{
  padding: 10px;
  color: white;
  background-color: rgb(21, 21, 100);
  border: none;
  width: 120px;
  margin-left: 10px;
}
.normal:hover{
  background-color: #FDC93B;
  color: rgb(21, 21, 100);
}
#red{
  
  background-color: #FDC93B;
  
}
.toggle-btn{
 padding: 10px;
  color: white;
  background-color: rgb(21, 21, 100);
  border: none;
  width: 120px;
  margin-left: 10px;
  margin: 20px 0; 
}
.toggle-btn:hover{
  background-color: #FDC93B;
  color: rgb(21, 21, 100);
}

/* Contact Section */
#contact-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    padding: 10px;
   }
   #contact-details .details {
    width: 40%;
   }
   #contact-details .details span {
    font-size: 12px;
    
   }
   #contact-details .details span,
   #form-details form span {
    font-size: 12px;
  
   }
   #contact-details .details h2,
   #form-details form h2 {
    font-size: 18px;
    margin: 0;
   }
   #contact-details .details h3 {
    font-size: 15px;
    line-height: 30px;
   
   }
   #contact-details .details li {
    list-style: none;
    display: flex;
    padding: 10px 0;
   }
   #contact-details .details li i {
    font-size: 14px;
    padding-right:22px ;
   }
   #contact-details .details li p {
    margin:0;
    font-size: 14px;
   }
  #contact-details .map {
      width: 55%;
      height: 400px;
    }
  #contact-details .map iframe {
      width: 100%;
      height: 100%;
    }
  
    #form-details{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 30px;
      margin: 30px;
      padding: 40px;
      border: 1px solid #e1e1e1;
    }
  
    #form-details form {
      width: 40%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      
    }
    #form-details .people {
      width: 50%;
    }
    #form-details form input,
    #form-details form textarea {
      width:100%;
      padding: 12px 15px;
      outline: none;
      margin-bottom: 20px;
      border: 1px solid #e1e1e1;
    }
    #form-details form button {
      background-color: rgb(21, 21, 100);
      color: #fff;
    }
    #form-details .people div {
      padding-bottom: 25px;
      display: flex;
      align-items: flex-start;
    }
    #form-details .people img {
      width:65px;
      height: 65px;
      margin-right: 15px;
    }
    #form-details .people p {
      margin: 0;
      font-size: 13px;
      line-height: 25px;
    }
    #form-details .people div span {
      display: block;
      font-size: 16px;
      font-weight: 600;
      color: #000;
    }
    .custom-alert {
      display: none;
      padding: 16px;
      background-color: #307a5a;
      color: white;
      border-radius: 8px;
      margin-bottom: 20px;
      text-align: center;
      animation: fadeIn 0.6s ease-in-out;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 16px;
      font-weight: 600;
    }
    .technoweb a {
      font-size: 15px;
      color: #FDC93B;
      text-decoration: dotted underline;
      transition: 0.3s ease-in-out;
      font-weight: 700;
    }
    .technoweb a:hover {
      font-size: 16px;
      color: white;
      text-decoration: underline;
    }
  
    .custom-alert.error {
      background-color: #000;
    }
    @media screen and (max-width: 870px) {
      #contact-details {
        flex-direction: column;
      }
      #contact-details .details,
      #contact-details .map {
        width: 100%;
      }
    #form-details form {
        min-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        
      }
      #form-details .people {
        min-width: 100%;
        margin-top: 25px;
          
      }
    }

  


