#article-container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(620px, 1fr));
  padding: 20px;
  
}
.article-content {
  max-height: 60px;
  overflow: hidden;
  transition:  0.4s ease;
}
.article-content.expanded {
  max-height: auto;
  transition: 0.4s ease;
}
.article-princ{
  width: 620px;
  padding: 10px;
  
}
.expanded {
  max-height: none;
  overflow: visible;
}
.article-princ span,
.article-cot span{
  text-align: left;
  font-size: 12px;
  color: #757373;
}
.article-princ h2{
  text-align: left;
  font-size: 17px;
  color: rgb(45, 45, 46);
  margin: 15px 0;
}
.article-princ p{
  text-align: justify;
  color: #3b3b3b;
  font-size: 15px;
}
.article-cot{
  width: 40%;
  padding: 10px;
  
}
.article-cot img{
  width: 250px;
  height: 200px;
  margin-top:15px;
}
.article-cot h4{
  padding: 15px 0;
}
.article-cot h6{
  padding: 10px 0;
}
.article-cot p{
  text-align: justify;
}
.pdf_link {
  margin: 10px 0 0 0;
}
.pdf_link a {
  color: #FDC93B;
  text-decoration: none;
  font-weight: 700;
  transition: 0.3s ease-in-out;
}
.pdf_link a:hover {
  color: #5f4d1c;
  font-weight: 700;
}

#read-more{
  padding: 10px 15px;
  color: white;
  background-color: rgb(21, 21, 100);
  margin:15px 0;
  border: none;
  transition: 0.3s ease-in-out;
}
#read-more:hover{
  padding: 10px 15px;
  color: rgb(21, 21, 100);
  background-color: white;
  border: 1px solid rgb(21, 21, 100);
}

/* Dropdown */
.dropdown {
    position: relative;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 180px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-menu li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    
}

.dropdown-menu li a {
    color: #333;
    text-decoration: none;
    display: block;
    
}

/* Affiche le menu quand actif */
.dropdown.active .dropdown-menu {
    display: block;
}
.dropdown-menu {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.dropdown.active .dropdown-menu {
    visibility: visible;
    opacity: 1;
}

#comite{
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  padding: 25px;
}
#comite .profil{
  width: 350px;
  padding: 10px;
  margin: 20px;
  box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
}
#comite .profil img{
  width: 95%;
  height: 350px;
  margin-bottom: 15px;
}
#comite .profil h3{
  text-align: center;
  color: rgb(21, 21, 100);
}
#comite .profil h4{
  text-align: center;
  color: #FDC93B;
  margin: 15px 0;
}
#comite .profil p{
  text-align: justify;
}
.active-tab {
  color: #FDC93B !important;
}
#page{
  background-image: linear-gradient(
    rgba(9, 5, 54, 0.3),
    rgba(5, 4, 46, 0.7)
  ), url("images/tableau\ editorial.jpg");
  width: 100%;
  height: 70vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 40px;
  position: relative;
}
#containts{
  display: flex;
  flex-direction: column;
  margin: 20px;
}
#containts h3{
  color: #FDC93B;
  margin: 20px 0;
  text-align: left;
}
#containts li{
  list-style-type: square;
  color: #3b3b3b ;
  margin-left: 30px;
}
#containts ul{
  margin: 25px 0;
}
#containts p{
  text-align: justify;
}
#containts h4{
  color: rgb(21, 21, 100);
  margin: 15 0 10px 0;
}

#page h2{
  color: white;
}
#red, #green{
  margin-top: 20px;
}

@media (max-width:769px){
  #article-container {
    display: flex;
    flex-wrap: wrap;
  }
  #article-container .article-princ{
  width: 100%;
  padding: 10px;
}

}
#article-container .article-cot{
  width: 100%;
  padding: 10px;
}
@media (max-width:475px){
  #article-container .article-princ{
  width: 100%;
  padding: 10px;
}

}
#article-container .article-cot{
  width: 100%;
  padding: 10px;
}

@media (max-width:385px){
  #article-container .article-main{
  width: 100%;
  padding: 10px;
}

}
#article-container .article-cot{
  width: 100%;
  padding: 10px;
}

