@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  
}

body {
  font-family: "Poppins", sans-serif;
}

/* Global Tags */

h1 {
  font-size: 2.5rem;
  font-weight: 700;
  color: rgb(35, 35, 85);
}


span {
  font-size: 0.9rem;
  color: #757373;
}

h6 {
  font-size: 1.1rem;
  color: rgb(24, 24, 49);
}

/* Navigation */
nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1vw 4vw;
  box-shadow: 2px 2px 10px rgba(0, 0,  0.15);
  position: fixed;
  width: 100%;
  background-color: white;
  z-index: 999;
}
nav img{
  width: 150px;
  cursor: pointer;
}
nav .navigation{
  display: flex;
}
#menu-btn{
  display: none;
  width: 30px;
  height: 30px;
}
#menu-close{
  display: none;
  cursor: pointer;
}
nav .navigation ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
nav .navigation ul li {
  list-style: none;
  margin-left: 30px;
}
nav .navigation ul li a {
  text-decoration: none;
  color: rgb(21, 21, 100);
  font-size: 16px;
  font-weight: 500;
  transition: 0.3s ease;
}
nav .navigation ul li a:hover {
  color: #FDC93B;
}
nav img{
  width: 80px;
  height: 80px;
}
/* Home */
#home{
  background-image: linear-gradient(
    rgba(9, 5, 54, 0.3),
    rgba(5, 4, 46, 0.7)
  ), url("images/library-488690_1920.jpg");
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 40px;
  position: relative;
  
}
@keyframes fadeInn {
  from { opacity: 0; transform: translateY(-100%);}
  to { opacity: 1; transform: translateY(0);}
}

#home h2{
  color:white;
  font-size: 2rem;
  letter-spacing: 1px;
  animation: fadeInn 8s ease ;
}
#home p{
  width: 50%;
  color: white;
  font-size: 0.9rem;
  line-height: 2rem;
}
#home a,
#signup-btn,
#login-btn {
    text-decoration: none;
    font-size: 0.9rem;
    padding: 13px 20px;
    width: 150px;
    background-color: white;
    font: 600;
    border-radius: 5px;
}

#home .btn{
  margin-top: 30px;
}
#home a.blue{
  color: white;
  background-color: rgb(21, 21, 100);
  transition: 0.3s ease;
}
#home a.blue:hover{
  color: rgb(21, 21, 100);
  background-color: white;
}
#home a.yellow{
  color: white;
  background-color: #FDC93B;
  transition: 0.3s ease;
}
#home a.yellow:hover{
  color: rgb(21, 21, 100);
  background-color: white;
}
#icone-user{
  font-size: 30px;
  position: absolute;
  right: 20px;
  top: 100px;
  color: #FDC93B;
  z-index: 998;
  border: 3px solid #FDC93B;
  border-radius: 50%;
  padding: 10px;
  background-color: rgb(21, 21, 100);
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
#icone-user:hover{
  color: rgb(21, 21, 100 );
  background-color: #FDC93B;
  border: 3px solid rgb(21, 21, 100);
}
/* features */
#features{
  padding: 5vw 4vw 0 4vw;
  text-align: center;
}
#features .fea-base{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 1rem;
  margin-top: 50px;
}
#features .fea-box{
  background-color: #F9F9FF;
  text-align: start;
  padding: 20px;
}
#features .fea-box i{
  font-size: 2.3rem;
  color: rgb(21, 21, 100);
}
#features .fea-box h3{
  font-size: 1.2rem;
  font-weight: 600;
  color: rgb(21, 21, 100);
  padding : 13px 0 7px 0;
}
#features .fea-box p{
  font-size: 1rem;
  font-weight: 400;
  color: rgb(21, 21, 100);
}


/* course */
#course{
  padding: 4vw ;
  text-align: center;
}
#course .course-box{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 1rem;
  margin-top: 50px;
}
#course .courses{
  text-align: start;
  background-color: #F9F9FF;
  height: 100%;
  position: relative;
}
#course .courses img{
  width: 100%;
  height: 60%;
  background-size: cover;
  background-position: center;  
}
#course .courses .details{
  padding: 15px 15px 0 15px;
}
#course .courses .details i{
  color: #FDC93B;
  font-size: .9rem;
}
#course .courses .cost{
  background-color: rgb(21, 21, 100);
  color: white;
  line-height: 70px;
  width: 70px;
  height: 70px;
  text-align: center;
  border-radius: 50%;
  position: absolute;
  right: 20px;
 bottom: 100px;
}

/* registration */
#registration{
  padding: 6vw 4vw 6vw 4vw;
  background-image: linear-gradient(
    rgba(99, 112, 168, 0.5),
    rgba(81, 91, 233, 0.5)
  ), url("images/silhouette.jpg");
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: space-between;
  align-items: center;

}
#registration .reminder{
  color: white;
}
#registration .reminder h1{
  color: white;
}
#registration .reminder .time{
  display: flex;
  margin-top: 40px;
}
#registration .reminder .time .date{
  text-align: center;
  padding: 13px 33px;
  background-color: rgb(255, 255, 255, 0.25);
  backdrop-filter: blur(4px);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  border-radius: 10px;
  margin: 0 5px 10px 5px;
  border: 1px solid rgb(255, 255, 255, 0.18);
  font-size: 1.1rem;
  font-weight:600 ;
}
#registration .form{
  background-color: white;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  padding: 40px;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}
#registration .form input{
  margin: 15px 0;
  padding: 15px 10px;
  border: 1px solid rgb(84, 40, 241);
  outline: none;
}

#registration .form input:focus{
  border: 1px solid #FDC93B;
}
#registration .form input::placeholder{
  color: #413c3c;
  font-size: 0.9rem;
  font-weight: 500;
}
#registration .form .btn{
  margin-top: 20px;
}

#registration .form a.yellow{
  color: white;
  background-color: #FDC93B;
  transition: 0.3s ease;
}
#registration .form a.yellow:hover{
  color: white;
  background-color: rgb(84, 40, 241);
}
#registration .form a{
  text-decoration: none;
  font-size: 0.9rem;
  padding: 13px 35px;
  background-color: white;
  font: 600;
  border-radius: 5px;
}


/* experts */
#experts{
  padding: 4vw;
  text-align: center;
}
#experts .experts-box{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 1rem;
  margin-top: 50px;
}
#experts .experts-box .profile{
  background-color: #fafaf1;
  padding: 30px 10px;
}
.pro-links{
  margin-top: 10px;
  
}
.pro-links i{
  padding: 10px 13px;
  border: 1px solid rgb(21, 21, 100 );
  cursor: pointer;
  color: rgb(21, 21, 100);
  transition: 0.4s ease-in-out;
}
.pro-links i:hover{
  background-color: rgb(21, 21, 100);
  color: white;
}
.profile img{
  width:200px;
  height:200px;
  border-radius:50%;
  border:3px solid rgb(21, 21, 100 )
}


/* footer */
#footer{
  padding: 4vw ;
  background-color: #101C32;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}
#footer .footer-col{
  padding-bottom: 40px;
}
#footer h3{
  color: rgb(241, 240, 245);
  padding-bottom: 20px;
  font-weight: 600;
}
#footer  li{
  color: #7b838a;
  padding: 10px 0;
  font-size: 15px;
  list-style: none;
  transition: 0.3s ease-in-out;
}
#footer li:hover{
  color: rgb(241, 240, 245);
  cursor: pointer;
}
#footer p{
  color: #7b838a;
}
footer input{
  width: 220px;
  padding: 15px 12px;
  background: #334F6C;
  border: none;
  color: white;
  
}
footer .subscribe a{
  text-decoration: none;
  font-size: 0.9rem;
  padding: 15px 12px;
  background-color: white;
  font: 600;
  
}
footer .subscribe  a.yellow{
  color: #334F6C;
  background-color: #FDC93B;
  transition: 0.3s ease;
}
footer .subscribe a.yellow:hover{
  color: rgb(21, 21, 100);
  background-color: white;
}
#footer .copyright{
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}
#footer .copyright .pro-links{
  margin-top: 0px;
}
#footer .copyright .pro-links i{
  background-color: #5f7185;
  color: white;
  transition: background-color 0.3s ease;
}
#footer .copyright .pro-links i:hover{
  background-color: #FDC93B;
  color: #2c2c2c;
}
#footer .copyright p{
  color: white
}


/* About */
#about-home{
  background-image: linear-gradient(
    rgba(9, 5, 54, 0.3),
    rgba(5, 4, 46, 0.7)
  ), url("images/back1.jpg");
  width: 100%;
  height: 60vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 40px;
}
#about-home h2{
  color: #fff;
  font-size: 2rem;
  letter-spacing: 1px;
}

#about-container{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 4vw 4vw 2vw 4vw;
}
#about-container p{
  font-size: 1rem;
  line-height: 2rem;
  text-align: justify;
}
#about-container ul{
  padding: 10px 0 0 25px;
}
#about-container ul li{
  list-style: square;
  padding: 5px 0;
}
#about-container .about-img{
  width: 60%;
  padding: 20px;
}
#about-container .about-img img{
  width: 100%;
}
#about-container .about-text{
 width: 40%;
}
#about-container .about-text h5{
 font-size: 16px;
 color: #293038;
}
#about-container .about-text .about-fe{
 display: flex;
 justify-content: space-between;
 align-items: flex-start;
 margin-top: 30px;
}
#about-container .about-text .about-fe .fe-text{
 width: 90%;
}
#about-container .about-text .about-fe img{
 width: 50px;
 background-size: cover;
 background-position: cover;
 margin-right: 20px;
}
#about-container .about-text h2{
 color: #293038;
 padding-bottom: 15px;
}
#about-container .about-text p{
 color: #686F7A;
 font-weight: 300;
}

#trust{
  text-align: center;
  padding: 4vw ;
}
#trust .trust-img img{
  width: 90px;
  height: auto;
}
#trust .trust-img{
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* Blog */

/* Course_inner */

    #form-details{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 30px;
      margin: 10px;
      border: 1px solid #e1e1e1;
    }
  
    #form-details form {
      width: 40%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      
    }
    #form-details .people {
      width: 50%;
      overflow: hidden;
      padding: 0;
      margin: 0;
    }
    #form-details form input,
    #form-details form textarea {
      width:100%;
      padding: 12px 15px;
      outline: none;
      margin-bottom: 20px;
      border: 1px solid #e1e1e1;
    }
    #form-details form button {
      background-color: #307a5a;
      color: #fff;
    }
    #form-details .people div {
      padding-bottom: 25px;
      display: flex;
      align-items: flex-start;
    }
    #form-details .people img {
      width:65px;
      height: 65px;
      margin-right: 15px;
    }
    #form-details .people p {
      margin: 0;
      font-size: 13px;
      line-height: 25px;
    }
    #form-details .people div span {
      display: block;
      font-size: 16px;
      font-weight: 600;
      color: #000;
    }

/* Login and Signup */
#login-box,
#signup-box{
    width: 80%;
    margin: auto;
    padding: 30px 0 0 0;
    align-items: center;
    display: flex;
    flex-direction: column;
    
  }

  #login-box input,
  #signup-box input,
  #ad-form select {
    width:100%;
    padding: 12px 15px;
    outline: none;
    margin-bottom: 20px;
    border: 1px solid #e1e1e1;
  }

  #signup-btn,
  #login-btn {
  color: white;
  background-color: rgb(21, 21, 100);
  border: none;
  margin-bottom: 15px;
  transition: 0.3s ease;
}
  #signup-btn:hover,
  #login-btn:hover {
  color: rgb(21, 21, 100);
  background-color: #FDC93B;
  border: none;
  margin-bottom: 15px;
  transition: 0.3s ease;
}
  .notice{
    font-size: 1rem;
    padding: 10px;
    color: #686F7A;
  }
  .notice a{
    text-decoration: none;
    color: #FDC93B;
    cursor: pointer;
  }
  
/* responsive */

@media (max-width: 769px), (max-width: 900px) {
  h1{
    font-size: 18px;
  }
  h2{
    font-size: 17px;
  }
  #home h2{
    font-size: 19px;
  }
  #home {
    height: 80vh;
  }
  h3{
    font-size: 16px;
  }
  nav{
    padding: 10px 20px ;
  }
  nav img{
    width: 70px;
    height: 70px;
  }
  #menu-btn{
    display: initial;
  }
  #menu-close{
    display: initial;
    font-size: 1.6rem;
    color: white;
    padding: 10px 0 10px 20px;
  }
  nav .navigation ul {
    position: absolute;
    top: 0;
    width: 220px;
    right: -220px;
    display: flex;
    background-color: rgba(17, 20, 104, 0.45);
    backdrop-filter: blur(4.5px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    transition: 1s ease;
  }
  nav .navigation.active ul {
  right: 0;
}
  nav .navigation ul li {
    margin-left:0;
    padding: 20px 0 20px 40px;
  }
  nav .navigation ul li a {
    color: white;
  }
  nav{
    background-color: white;
  }
  #home p{
    width: 90%;
  }
  #home{
    padding-top: 0px;
  }
  #feature{
    padding: 0 4vw 0vw 4vw;
  }
  #course{
    padding: 4vw 4vw 0vw 4vw;
  }
  #registration{
    padding: 6vw 4vw 6vw 4vw;
  }
  #registration .reminder .time{
   flex-wrap: wrap;
   margin-top: 4vw;
  }
  #experts{
    padding: 6vw 4vw 0vw 4vw;
  }
  footer .copyright .pro-links{
    margin-top: 15px;
  }
  
  /*About*/
  #about-container{
    padding: 4vw 4vw 2vw 4vw;
  }
  #about-container .about-img{
    width: 100%;
    padding: 40px;
  }
  #about-container .about-img img{
    width: 100%;
  }
  #about-container .about-text{
    width: 100%;
  }
  #trust .trust-img{
    margin: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
  }
  #trust .trust-img img{
    width: 60px;
    margin: 10px 15px;
    height: auto;

  }

}

@media (max-width: 475px) {
  h1{
    font-size: 18px;
  }
  h2{
    font-size: 16px;
  }
  #home h2{
    font-size: 18px;
  }
  #home {
    height: 70vh;
  }
  h3{
    font-size: 15px;
  }
   nav img{
    width: 70px;
    height: 70px;
  }
  nav{
    background-color: white;
  }
  #registration{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  #registration .reminder .time{
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   margin-top: 20px;
   margin-bottom: 20px;
  }
  /*About*/
  #about-container .about-img{
    width: 100%;
    padding: 20px;
  }
  #about-container .about-img img{
    width: 100%;
  }
  #about-container .about-text{
    width: 100%;
  }
  #trust .trust-img img{
    width: 60px;
    height: auto;
  }
  #trust .trust-img{
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; 
  }
}
@media (max-width:375px){
   nav img{
    width: 70px;
    height: 70px;
  }
  #home {
    height: 60vh;
  }
  nav{
    background-color: white;
  }
  #home h2{
    font-size: 17px;
  }
  
  
}

/*contact page */
@media (max-width:475px){
      
      #form-details form {
        min-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        
      }
      #form-details .people {
        min-width: 100%;
        margin-top: 25px;
          
      }
    }